@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="padding: 15px;   font-size: 13px">
    <h2>Latest Blogs</h2>
    <table id="summary_table" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef" class="blog_summary_table">
        <tbody>

            <tr style="height:10px"></tr>
            <tr>
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
                        <tbody>
                            <tr class="athing">
                                <td align="right" valign="top" class="title"><span class="rank">1.</span></td>
                                <td valign="top"><center><a id="up_11845689" href="vote?for=11845689&amp;dir=up&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td>
                                <td class="title">
                                    <a href="https://vox.space/blog/89/being-privacy-aware-in-2016" class="storylink">Keeping your private information secure in 2016</a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td class="subtext pocket-inserted">
                                    <span class="score" id="score_11845689">posted</span> by
                                    <span href="user?id=maglavaitss">maglavaitss</span>
                                    <span class="age">35 minutes ago</span>  |
                                    <span>1 comment</span>               |
                                    <a class="pocket-hn-button" href="#">Delete</a>
                                </td>
                            </tr>
                            <tr class="spacer" style="height:5px"></tr>

                        </tbody>
                    </table>
                </td>
            </tr>

        </tbody>
    </table>
</div>
 


@*<p>@Session["role_name"]</p>
<p>@Session["user_guid"]</p>*@